@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */

/* Custom Properties */
:root {
    --color-text-primary: #0b132b;
    --color-text-secondary: #f0f0f0;
  
    --color-background: #f5f5f5;
    --color-background-muted: #eaeaea;
  
    --color-primary: #507aff;
    --color-primary-hover: #0038eb;
    --color-secondary: #2e4caa;
    --color-secondary-hover: #182758;
  
    --color-disabled: #b8c9ff;
  
    --color-warning: #d94832;
    --color-warning-hover: #8a291a;
  
    /* Font Weight Variables */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}
    
/* Global Styles */
body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-weight: var(--font-weight-regular);
    font-family: "Familjen Grotesk", sans-serif;

}

button {
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    font-size: 12px;
    border: none;
    transition: ease-in 0.1s;
    box-shadow: 0rem 2px 3px rgba(74, 57, 232, 0.2);
}

.input {
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: 12px;
}

h1 {
    font-family: "Lexend", sans-serif;
    font-weight: var(--font-weight-light);
    font-size: 40px;
}

h2 {
    font-family: "Lexend", sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 32px;
}

a{
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 12px;
}

p{
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: 12px;
}

p.title {
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 20pt;
}

.filterTitle{
  size: .6875rem;
}

.loader {
    border: .5rem solid #f3f3f3; 
    border-top: .5rem solid #3498db; 
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 768px) {

  p,
  button,
  .input,
  a,
  p.bold {
      font-size: 13pt;
  }

  p.caption {
      font-size: 11pt;
  }

  p.title {
      font-size: 18pt;
  }
}

.carousel {
    position: relative;
  }
  
  .embla {
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding: 10px;
  }
  
  .embla__slide__img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .carousel-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .carousel-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .carousel-button:not(:disabled):hover {
    background-color: #2980b9;
  }